<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body >
    {{!-- header section --}}
    <header>
      <h1>Ravneet Kaur, <i>N01530780</i></h1>
    </header>

    <main>
      {{{body}}}
      {{!-- <section class="content">
        {{{body}}}
              
      </section> --}}
    </main>
  {{!-- footer section --}}
  <footer>
    <b>n01530780@humber.ca</b>
  </footer>
  </body>
</html>